html {
    margin: 0;
    padding: 0;
}
body {
    margin: 0;
    padding: 0;
    overflow:hidden;
    font-family: Arial,sans-serif;
    font-size: 62.5%;
}
#lgHeader {
    border-bottom: 3px solid #DDDDDD;
    height: 48px;
    margin: 0;
    overflow: hidden;
    padding-left: 20px;
    padding-top: 9px;
    position: relative;
}
#slogan {
	color: #444444;
    font-size: 110%;
    font-style: italic;
    margin: 0 1em;
}
#send-feedback {
    font-size: 1.3em;
    font-weight: normal;
    position: absolute;
    right: 100px;
    top: 18px;
}
img {
    vertical-align: middle;
}
a {
color:#000000;
text-decoration:none;
outline:none;
}
#beta {
position:fixed;
right:0;
top:0;
}
#back {
    background: none repeat scroll 0 0 #000000;
    border-top-left-radius: 5px;
    bottom: 0;
    display: none;
    margin-bottom: 0;
    margin-right: 0;
    padding-left: 10px;
    padding-right: 10px;
    position: fixed;
    right: 0;
}
#back:hover {
	background: none repeat scroll 0 0 #FFFFFF;
}
#back a {
	color: #FFFFFF;
    font-size: 16px;
}
#back a:hover {
    color: #000000;
}
#sidenav {
    display: none;
    margin: auto;
    position: fixed;
    right: 5px;
    top: 30%;
}
#sidenav ul {
	list-style-type:none;
	margin:0;
	padding:0;
}
#sidenav ul li {
    border: 2px solid transparent;
    height: 65px;
    margin: 5px;
    padding: 8px 0 0;
    width: 65px;
}
#sidenav ul li:hover {
    background-color:#EBEEF8;
    border:2px solid #333333;
    border-radius:3px;
}
#sidenav ul li img {
    height: 60px;
    width: 60px;
}
#wrapper {
width:100%;
text-align:center;
}
#nav {
width: 750px;
margin:0 auto;
}
.panel {
    border: medium none;
    display: block;
    height: 96%;
    margin: 0;
    padding: 2%;
    width: 96%;
}
#header {
    margin-bottom: 50px;
    margin-top: 50px;
}
#header h1 {
    color: #000000;
    font-size: 80px;
    text-shadow: 2px 2px #C7C7C9;
}
#footer {
    bottom: 10px;
    font-size: 16px;
    position: fixed;
    width: 750px;
}
ul.three-block {
    font-size: 15px;
    margin: 0;
    padding: 0;
    position: absolute;
    top: 45%;
}
ul.three-block li {
    cursor: pointer;
    list-style-type: none;
    margin: 10px;
    width: 730px;
}
ul.three-block li img {

}
ul.three-block li a {
    background-color: #EBEEF8;
    border: 1px solid #BBCCFF;
    display: block;
    height: 100%;
    margin: 0 auto;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    width: 250px;
}
ul.three-block li a:hover {
    border:1px solid #444444;
}
ul.three-block li span {
display: block;
}
.clear {
clear:both;
height:0;
width:0;
}

.button, a.button {
    background: -moz-linear-gradient(center top , #F9F9F9, #E3E3E3) repeat scroll 0 0 transparent;
}
.button, a.button {
    border: 1px solid #BBBBBB;
    border-radius: 3px 3px 3px 3px;
    color: #000000;
    cursor: pointer;
    display: inline-block;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 1em;
    line-height: 1.4;
    overflow: visible;
    padding: 1px 6px;
    text-decoration: none;
    white-space: nowrap;
}
.button:active, a.button:active {
    background: -moz-linear-gradient(center top , #E3E3E3, #F9F9F9) repeat scroll 0 0 transparent;
}
.button:active, a.button:active {
    border: 1px solid #000000;
}