/* Styles for the project page */

/**** Typing panel ****/
body.lg div.typing-panel-body {
    overflow-y: auto;
    padding-bottom: 5px;
    padding-left: 5px;
    position: absolute;
}
body.lg div.typing-panel-body div.grid-layout.layout-tightest {
    background-color: #FFFFFF;
    border-color: #BBCCFF;
    border-right: 1px solid #BBCCFF;
    border-style: none solid solid;
    border-width: medium 1px 1px;
    margin: 0 5px 5px 0;
    padding: 10px;
    right: 0;
    width: auto;
    display: none;
}
body.lg div.typing-panel-body a.question {
    background: url("../images/arrow.png") no-repeat scroll 10px 11px #EBEEF8;
    border: 1px solid #BBCCFF;
    color: #444444;
    cursor: pointer;
    display: block;
    margin: 5px 5px 0 0;
    padding: 10px 5px 10px 30px;
    text-decoration: none;
}
body.lg div.typing-panel-body a.question.exp {
    background-image: url("../images/arrow-exp.png");
}
body.lg div.typing-panel-body a.question:hover {
	border:1px solid #444444;
}
body.lg div.type {
	
}
body.lg div.type ul.checkboxes {
    float: left;
    list-style-type: none;
    margin: 0 0 5px;
    padding: 0;
}
body.lg div.type ul.checkboxes li {
	margin-bottom: 5px;
}
body.lg div.type ul.checkboxes input {
	margin: 0;	
}
body.lg div.type label {
	padding-left: 5px;
}
body.lg div.type span.note {
/*
	background-color: #FFFEE8;
    border: 1px solid #E0D981;
    color: #757757;
    display: block;
    margin: 5px 0;
    padding: 2px 5px;
    text-align: justify;
*/

    background: none repeat scroll 0 0 #FEFFDA;
    border-color: #BBCCFF #BBCCFF #BBCCFF #FFFFFF;
    border-radius: 3px 3px 3px 3px;
    border-style: solid;
    border-width: 5px 5px 5px 0;
    color: #444444;
    display:none;
    left: 300px;
    margin: 5px 0;
    padding: 10px;
    position: fixed;
    text-align: justify;
    width: 300px;
    z-index: 9999;
}
body.lg a.info {
    background: url("../images/info.png") no-repeat scroll 0 0 transparent;
    height: 16px;
    outline: medium none;
    position: absolute;
    right: 15px;
    width: 16px;
    display:none;
}
body.lg a.info:hover {
	cursor:pointer;	
}
body.lg div.type div.selector {
    border-bottom: 1px solid #EEEEEE;
    border-top: 1px solid #EEEEEE;
    clear: both;
    margin: 5px 0;
    padding: 10px 0;
    text-align: center;
}
body.lg div.type div.selector a.button {
    background: -moz-linear-gradient(center top , #E8FFED, #A1DEAA) repeat scroll 0 0 transparent !important;
}
body.lg div.type ul.column-display {
    background: none repeat scroll 0 0 #FFFFFF;
    margin-top: 10px;
    text-align: left;
}
body.lg div.type ul.column-display li {
    background: none repeat scroll 0 0 #DAFFD9;
    border: 1px solid #96D796;
    border-radius: 3px 3px 3px 3px;
    font-weight: bold;
    list-style-type: none;
    margin-bottom: 3px;
    padding: 2px 3px 2px 5px; 
}
body.lg div.type ul.column-display li select {
    float: right;
    font-size: 10px;
    height: 20px;
    margin-right: 0;
    margin-top: -1px;
    padding: 0;
    width: 90px;
}
body.lg div.type ul.cols-copy li {
    padding: 3px 2px 4px 5px;	
}
body.lg div.type div.more-complicated {
    border-bottom: 1px solid #EEEEEE;
    border-top: 1px solid #EEEEEE;
    clear: both;
    margin: 5px 0;
    padding: 10px 0;
    text-align: center;
    display:none;
}
body.lg div.type input.more-complicated {
	padding:0px;
}
body.lg div.type a.update {
	margin-top: 10px;
	margin-left: 5px;
}
body.lg div.type div.updateBG {
	background: none repeat scroll 0 0 #BBCCFF;
    margin: 0 -10px -10px;
    padding: 5px 10px 5px 5px;
    text-align: right;
}
body.lg input#unitInputField {
	 width: 88%;
}
body.lg .fbs-pane {
     width: 238px
}
	
/**** jQuery UI Selectable styles ****/
body.lg .ui-selectable .ui-selecting { 
	background: #99FF98; 
}
body.lg .ui-selected, body.lg .ui-selectable .ui-selected { 
    background: none repeat scroll 0 0 #DAFFD9;
}
body.lg .ui-selectable { 
	list-style-type: none; 
	margin: 0; 
	padding: 0; 
}
